<main>
        
    <section class="sobre">
        
        <h2>Quem Somos?</h2>

        <p id="texto-sobre">Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque. Phasellus egestas tellus rutrum tellus pellentesque eu.
        Leo vel fringilla est ullamcorper eget nulla facilisi. Consectetur adipiscing elit ut aliquam purus sit amet luctus.
        Pharetra convallis posuere morbi leo urna molestie. Maecenas pharetra convallis posuere morbi leo urna molestie at.
        Justo nec ultrices dui sapien. Ut tellus elementum sagittis vitae et leo duis. Leo a diam sollicitudin tempor id eu.
        Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Nunc consequat interdum varius sit amet.
        Ac feugiat sed lectus vestibulum mattis ullamcorper. Massa vitae tortor condimentum lacinia quis vel eros donec.Eget felis eget nunc lobortis.
        Eu lobortis elementum nibh tellus molestie nunc. Felis imperdiet proin fermentum leo. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et.
        Orci phasellus egestas tellus rutrum tellus. Egestas erat imperdiet sed euismod nisi porta. Id venenatis a condimentum vitae.
        Justo donec enim diam vulputate ut pharetra sit amet aliquam. Aliquam etiam erat velit scelerisque in dictum non consectetur.
        Tincidunt dui ut ornare lectus. Blandit turpis cursus in hac. Mattis molestie a iaculis at. Pretium lectus quam id leo in vitae.
        Fringilla est ullamcorper eget nulla facilisi. Justo eget magna fermentum iaculis eu non diam phasellus. Enim ut tellus elementum sagittis vitae.
        Maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum. Consequat mauris nunc congue nisi. Leo duis ut diam quam nulla.</p>

    </section>

    <div class="fundadores">

        <div id="ale">

            <div id="content-ale">
                <img src="~/Assets/1bec063238bb06b2815f9ab904edb65c.jpg" alt="Alexandre Fukaya Fundador" title="Alexandre Fukaya">
            </div>

            <section class="sobre-ale">
                <p class="nome">Alexandre Fukaya</p>
                <p>Can't you see he's the man, Let me hear you applaud, He is more than a man He's a shiny golden god. If you think its time to freaking rock,
                And freaking roll, out of control Well then you know you've got to rock the block, You freaking suck, My freaking c***
                Cause when you rule, you freaking school, All of the fools, out of there jewels Cause if you think it's time to, If you think it's time to,
                If you think it's time to freaking rooooock. He is going to kick your freaking ass, And you know his name is Kyle Gass
                Rocking and freaking rolling, And freaking rocking, and freaking rolling And freaking.....(JB SKIT)</p>
            </section>

        </div>

        <div id="cesar">

            <div id="content-cesar">
                <img src="~/Assets/142b043b6a9d6e65d8b31033c4fd9650-gpMedium.jpg" alt="Cesar Sportore Fundador" title="Cesar Sportore">
            </div>

            <section class="sobre-cesar">
                <p class="nome">Cesar Sportore</p>
                <p>Tall and tan and young and lovely The girl from Ipanema goes walking And when she passes Each one she passes goes "ah"
                Moça do corpo dourado Do sol de Ipanema O seu balançado é mais que um poema É a coisa mais linda que eu já vi passar
                oooh  But I watch her so sadly Ah, porque tudo é tão triste Yes, I would give my heart gladly But each day, when she walks to the sea
                She looks straight ahead, not at me Tall, tan, young,lovely, the girl from Ipanema goes walking And when she passes,
                I smile but she doesn't see Por causa do amor I mean she just doesn't see</p>
            </section>

        </div>

    </div>

    <section class="sobreFinal">
        <img src="~/Assets/the-rock-vin-diesel-0418-1400x800.jpg" alt="Cesar e Alexandre Juntos" title="Alexandre e Cesar">

        <p>Los moros que trajo Franco En madrid quieren entrar Mientras queden milicianos Los moros no pasarán
        ¡No pasarán! ¡No pasarán! Aunque me tiren el puente Y también la pasarela Me verás pasar el ebro
        En un barquito de vela ¡No pasarán! ¡No pasarán! Diez mil veces que los tiren Diez mil veces los haremos
        Tenemos cabeza dura Los del cuerpo de ingenieros ¡No pasarán! ¡No pasarán! En el ebro se han hundido
        Las banderas italianas Y en los puentes sólo quedan Las que son republicanas ¡No pasarán! ¡No pasarán!</p>
    </section>

</main>