* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, li ,p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

body {
    background-color: rgb(229, 238, 238);
}
/*=======================================================

Nav. - Start

=======================================================*/

header nav .menu-nav #logo-area {
    margin: 0em .5em 0em 3.5em;
}

header nav .menu-nav  {
    display: flex;
    align-items: center;
}

.menu-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li {
    list-style-type: none;
    font-size: 20px;
}

.menu-nav li {
    padding: 2em;
    margin: 0;
}

nav li {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.menu-nav #login img {
    margin: 0 .6em;
}

#login {
    color: white;
    display: flex;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    cursor: auto;
}

.menu-nav li:hover {
    background-color: #202020;
    color: #383838;
    box-shadow: 0 3px white;
}

nav a {
    text-decoration: none;
    color: white;
}

nav {
    background-color:  #7d0093;
}

/*=======================================================

Nav. - End

=======================================================*/
main {
    width: 80%;
}

#painel {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 1.8em;
}

h3 {
    padding: 0.5em 0;
    font-size: 1.3em;
    color: #361a0c;
    text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
   -1px  1px 0 #fff,
    1px  1px 0 #fff;
}

h4 {
    font-size: 2em;
    font-family: 'Fredoka One', cursive;
}

.box-status-pedidos {
    width: 30%;
    padding-top: .5em;
    text-align: center;
}
.box-status-pedidos > p {
    font-size: 2em;
    padding: 0.5em 0 0 0;
}

.box-status-pedidos.reprovados {
    background-color: #a70000;
}

.box-status-pedidos.aprovados {
    background-color: #669100;
}

.box-status-pedidos.pendentes {
    background-color: #ff9933;
}

table {
    text-align: center;
    color: #fff;
    border: 1px dashed #ff9933;
    width: 100%;
    padding: 5px;
    word-break: normal;
}

table th {
    background-color:#a70000;
}

table a {
    text-decoration: none;
    color: #ff9933;
}

table a:hover {
    text-decoration: underline;
}

tfoot td {
    text-align: center;
    color: #ff9933;
    background-color: #a70000;
}

thead > tr:first-child > th:last-child {
    padding: 0 .5em;
}

@media (max-width: 625px) {
    main {
        width: 90%;
    }

    h4 {
        font-size: 1em;
    }
}
/*=======================================================

                    Footer - Start

=======================================================*/

footer {
    background-color: #7d0093;
}

footer address {
    color: #ffffff;
    padding: 1em;
}

footer img {
    width: 5em;
    height: 5em;
}

footer {
    display: flex;
    justify-content: space-between;
}

address {
    justify-content: center;
}

#facebook {
    align-self: center;
    padding: 1em;
}

/*=======================================================

                    Footer - End

=======================================================*/